<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/order" method="get">
        <div>
            <label><input type="radio" name="product" value="사과"><span>사과</span></label>
            <label><input type="radio" name="product" value="복숭아"><span>복숭아</span></label>
            <label><input type="radio" name="product" value="포도"><span>포도</span></label>
        </div>
        <div><input type="text" name="count" value="1"></div>
        <div><button>주문</button></div>
    </form>
</body>
</html>