<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer">

    <footer class="footer footer-center p-8 bg-neutral text-neutral-content mt-10">

        <aside>

            <p class="font-bold text-lg">
                JJANG'S BOARD
            </p>

            <p>
                Spring Boot + Security + MyBatis + Redis
            </p>

            <p>
                © 2026 All Rights Reserved.
            </p>

        </aside>

    </footer>

</footer>

</body>
</html>