<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>MEMBER</title>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="bg-base-200">
<header th:replace="~{fragments/header::my-header}"></header>


<main class="container mx-auto p-6">
    <h1 class="text-3xl font-bold">메인 페이지</h1>
</main>
<footer th:replace="~{fragments/footer::my-footer}"></footer>

</body>
</html>