<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>등록일</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="item:${voteDtoList}">
                <td th:text="${item.voteNo}">1</td>
                <td>
                    <a th:href="@{/vote/{pathVoteNo}(pathVoteNo = ${item.voteNo})}" th:text="${item.title}">월드컵 ~~~</a>
                </td>
                <td>
                    <span
                            th:text="${#temporals.format(item.regDate,'yyyy-MM-dd HH:mm')}"></span> /
                    <span th:text="${item.regDateFormatted}"></span>
                </td>
                <td><a th:href="@{/vote/{voteNo}/result(voteNo=${item.voteNo})}">결과보기</a></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>